.header-nav {
   display: flex;
   justify-content: space-around;
   padding-bottom: 1em;
   margin-top: .5em;
}

.header-nav a {
   color: #58bb53;
   text-decoration: none;
   font-size: 1.5em;
   font-weight: bold;
   -webkit-text-stroke: 1px #175914;
   text-shadow: #175914 2px 2px 2px;
}

