body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-container, .signup-container, .profile-container {
  display: flex;
  justify-content: center;
  padding-top: 3em;
}

.home-container {
  display: flex;
  justify-content:center;
  padding-top: 1em;
}

.login-container label, .signup-container label {
  visibility: hidden;
  position: absolute;
}

.login-container input, .login-container button, .signup-container input, .signup-container button {
  border-radius: 5px;
  padding: 2px;
  margin: 2px;
}

.blank-orders {
  font-size: 2em;
}

.ant-btn-primary {
  background-color: #58bb53;
  border-color:  #58bb53;
}

.ant-btn-primary:hover {
  background-color: #6EC5C1;
  border-color: #6EC5C1;
}

.item-title{
  font-size: xx-large;
  color: #1890FF;
}

.item-description{
  color: black;
  font-size: large;
}

.item-price{
  color: black;
  font-size: large;
}