body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-container, .signup-container {
  display: flex;
  justify-content: center;
  padding-top: 3em;
  flex-wrap: wrap;
}

.home-container {
  display: flex;
  justify-content:center;
  padding-top: 1em;
}

.login-container label, .signup-container label {
  visibility: hidden;
  position: absolute;
}

.login-container input, .login-container button, .signup-container input, .signup-container button {
  border-radius: 5px;
  padding: 2px;
  margin: 2px;
}

.blank-orders {
  font-size: 2em;
}

.ant-btn-primary {
  background-color: #58bb53;
  border-color:  #58bb53;
}

.ant-btn-primary:hover {
  background-color: #6EC5C1;
  border-color: #6EC5C1;
}

.item-title{
  font-size: 2.5em;
  color: #1890FF;
  -webkit-text-stroke: 1px black;
  margin: 10px 10px;
}

.item-description{
  color: black;
  font-size: 1.5em;
  -webkit-text-stroke: #1890FF .5px;
}

.item-price{
  color: black;
  font-size: 1em;
  -webkit-text-stroke: #1890FF .25px;
}

.item-img{
  max-height: 45vh;
  border: solid 1px #175914;
  margin-left: 50px;
}

.profile-container {
  display: flex;
  padding: 2% 10%;
}

.orders-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
  .profile-container {
    padding: 2% auto;
    transition: all .2s;
  }
}