h2, h3 {
    font-family: 'Acme', sans-serif;
}

.category-list {
    padding-top: 9px;
}

.category-link {
    color: #58bb53;
    font-family: 'Acme', sans-serif;
    font-size: 17px;
    border: none;
    background: #ffffff;
    display: inline-block;
    justify-content: space-between;
}

.category-link:hover {
    text-decoration: underline;
}