h2, h3 {
    font-family: 'Acme', sans-serif;
}

.category-list {
    padding: 9px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.category-link {
    color: #58bb53;
    font-family: 'Acme', sans-serif;
    font-size: 17px;
    border: none;
    background: #ffffff;
    display: inline-block;
    justify-content: space-between;
    text-shadow: #175914 1px 1px 1px;
}

.category-link:hover {
    text-decoration: underline;
    cursor: pointer;
    text-shadow: none;
}