/* @import '~antd/dist/antd.css'; */

.spin-container {
    text-align: center;
    background: white;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 30px 50px;
    margin: 20px 0;
  }

.spinner {
    color: #58bb53;
}

.listing-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.listing-title{
  padding-left: 2%;
}